.header {
    @include tablet-600 {
        background: rgba(255, 255, 255, 0.6);
    }
}
.header__wrap {
    padding: 39px 33px 0 33px;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.logo {
    background: url(../design/logo.jpg) no-repeat center;
    background-size: cover;
    width: 120px;
    height: 31px;
    display: block;
    margin-right: auto;
    border-radius: 15px;
    @include tablet-1200 {
        width: 288px;
        height: 75px;
    }
}
.burger-checkbox {
    display: none;
    &__label {
        background: #50BEFF;
        border: 1px solid #50BEFF;
        box-shadow: inset 2.36842px 2.36842px 5.52632px rgba(136, 165, 191, 0.48);
        border-radius: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        padding: 17px 13px;
        @include tablet-600 {
            display: none;
        }
    }
}
.burger__line,
.burger__line::before,
.burger__line::after {
    height: 2px;
    width: 19px;
    display: block;
    position: relative;
    background: #FFFFFF;
    box-shadow: inset 0.394737px 0.394737px 0.394737px rgba(33, 68, 104, 0.4), inset -0.394737px -0.394737px 0.394737px rgba(255, 255, 255, 0.4);
    @include tablet-600 {
        display: none;
    }
}
.burger__line::before {
    content: "";
    top: -5px;
}
.burger__line::after {
    content: "";
    top: 3px;
    width: 10px;
}
.burger-checkbox:checked ~ .burger-checkbox__label > .burger__line {
    transform: rotate(45deg);
}
.burger-checkbox:checked ~ .burger-checkbox__label > .burger__line::before {
    top: 0;
    transform: rotate(0);
}
.burger-checkbox:checked ~ .burger-checkbox__label > .burger__line::after {
    top: -1px;
    transform: rotate(90deg);
    width: 19px;
}
.burger-checkbox:checked ~ .nav {
    visibility: visible;
    background: #ffffffa8;
    border-radius: 10px;
}
.burger__line,
.burger__line::before,
.burger__line::after {
    transition-duration: .25s;
}
.nav {
    visibility: hidden;
    margin-top: 15px;
    // position: absolute;
    // top: 90px;
    @include tablet-600 {
        visibility: visible;
        margin-top: 0;
        // position: static;
    }
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & li {
        margin-left: 12px;
        @include tablet-600 {
            margin-left: 25px;
        }
        @include tablet-900 {
            margin-left: 35px;
        }
    }
    &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #50BEFF;
        text-decoration: none;
        @include tablet-1200 {
            font-size: 21px;
            line-height: 25px;
        }
       
    }
}